/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100%;
    background: transparent;
    box-shadow: 0 0.6vh 2vw rgba(0, 0, 0, 0.1);
  }
  
  .navbar img {
    height: 3vh;
    width: auto;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 3vw;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 2.2vh;
    color: #333;
    transition: color 0.3s, font-weight 0.3s;
    position: relative;
  }
  
  .navbar-menu li:hover,
  .navbar-menu .active {
    color: #007bff;
    font-weight: bold;
  }
  
  .navbar-menu .active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  
  .navbar-right img {
    height: 2.5vh;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  
  .navbutton {
    position: relative;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid #d3d3d3;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2vh;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    overflow: hidden;
  }
  
  .navbutton::before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-color: #000;
    z-index: 0;
    transition: transform 0.5s, border-color 0.3s;
    transform: translate(-50%, 100%) scale(0);
    border-radius: 50%;
  }
  
  .navbutton:hover::before {
    transform: translate(-50%, 0) scale(1);
  }
  
  .navbutton:hover {
    color: #fff;
    border-color: black;
  }
  
  .navbutton:hover span {
    position: relative;
    z-index: 1;
  }
  
  .navbar-right .dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -5px;
    display: none; /* Initially hidden */
  }
  
  .navbar-right .dot.hidden {
    display: none;
  }
  
  .navbar-profile {
    position: relative;
  }
  
  .nav-profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    display: none;
  }
  
  .navbar-profile:hover .nav-profile-dropdown {
    display: block;
  }
  
  .nav-profile-dropdown li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    width:120px;
  }
  
  .nav-profile-dropdown li img {
    margin-right: 10px;
  }
  
  .nav-profile-dropdown hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .nav-profile-dropdown li:hover {
    background-color: #f2f2f2;
  }
  
  .myorder {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }
  
  .myorder a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
  
  .myorder img {
    margin-right: 10px;
    height: 2vh; /* Adjust this value as needed */
  }
  
  .myorder p {
    margin: 0;
  }